<center><h1>Task Details </h1>
<%= link_to 'Back', project_index_path %>
<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @project.desc %>
</p>





